{{- if .Values.keyVault.enabled }}
{{- if .Values.blueGreen.enabled }}
{{- range $color, $config := .Values.blueGreen.colors }}
{{- if $config.enabled }}
{{- /* Check if there are any secrets to mount for this color */ -}}
{{- $hasDefaultSecrets := and $.Values.keyVault.defaultSecrets (not (empty $.Values.keyVault.defaultSecrets)) -}}
{{- $hasColorSecrets := and $config.keyVaultSecrets (not (empty $config.keyVaultSecrets)) -}}
{{- if or $hasDefaultSecrets $hasColorSecrets }}
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "service.secretProviderClassNameForColor" (dict "root" $ "color" $color) }}
  namespace: {{ $.Values.namespace }}
  labels:
    {{- include "service.labels" $ | nindent 4 }}
    version: {{ $color }}
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: {{ $.Values.keyVault.clientId | quote }}
    keyvaultName: {{ $.Values.keyVault.name | quote }}
    tenantId: {{ $.Values.keyVault.tenantId | quote }}
    objects: |
      array:
        {{- if $.Values.keyVault.defaultSecrets }}
        {{- range $env, $default := $.Values.keyVault.defaultSecrets }}
        - |
          {{- if and $config.keyVaultSecrets (index $config.keyVaultSecrets $env) }}
          objectName: {{ index $config.keyVaultSecrets $env }}
          {{- else }}
          objectName: {{ $default }}
          {{- end }}
          objectType: secret
          objectAlias: {{ $env }}
        {{- end }}
        {{- end }}
        {{- if $config.keyVaultSecrets }}
        {{- range $env, $secretName := $config.keyVaultSecrets }}
        {{- if or (not $.Values.keyVault.defaultSecrets) (not (index $.Values.keyVault.defaultSecrets $env)) }}
        - |
          objectName: {{ $secretName }}
          objectType: secret
          objectAlias: {{ $env }}
        {{- end }}
        {{- end }}
        {{- end }}
  secretObjects:
    - secretName: {{ include "service.secretNameForColor" (dict "root" $ "color" $color) }}
      type: Opaque
      data:
        {{- if $.Values.keyVault.defaultSecrets }}
        {{- range $env, $default := $.Values.keyVault.defaultSecrets }}
        - objectName: {{ $env }}
          key: {{ $env }}
        {{- end }}
        {{- end }}
        {{- if $config.keyVaultSecrets }}
        {{- range $env, $secretName := $config.keyVaultSecrets }}
        {{- if or (not $.Values.keyVault.defaultSecrets) (not (index $.Values.keyVault.defaultSecrets $env)) }}
        - objectName: {{ $env }}
          key: {{ $env }}
        {{- end }}
        {{- end }}
        {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- else }}
{{- /* Check if there are any default secrets for standard deployment */ -}}
{{- $hasDefaultSecrets := and .Values.keyVault.defaultSecrets (not (empty .Values.keyVault.defaultSecrets)) -}}
{{- if $hasDefaultSecrets }}
# Standard SecretProviderClass for non-blue-green environments
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "service.fullname" . }}-spc
  namespace: {{ .Values.namespace }}
  annotations:
    "helm.sh/hook": pre-upgrade,pre-install
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
  labels:
    {{- include "service.labels" . | nindent 4 }}
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: {{ .Values.keyVault.clientId | quote }}
    keyvaultName: {{ .Values.keyVault.name | quote }}
    tenantId: {{ .Values.keyVault.tenantId | quote }}
    objects: |
      array:
        {{- if .Values.keyVault.defaultSecrets }}
        {{- range $env, $default := .Values.keyVault.defaultSecrets }}
        - |
          objectName: {{ $default }}
          objectType: secret
          objectAlias: {{ $env }}
        {{- end }}
        {{- end }}
  secretObjects:
    - secretName: {{ include "service.fullname" . }}-secret
      type: Opaque
      data:
        {{- if .Values.keyVault.defaultSecrets }}
        {{- range $env, $default := .Values.keyVault.defaultSecrets }}
        - objectName: {{ $env }}
          key: {{ $env }}
        {{- end }}
        {{- end }}
{{- end }}
{{- end }}
{{- end }}